{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 border rounded-5" >
    <h2 class="my-3 text-light text-center text-uppercase font-weight-bold">Рецензия </h2>
    <h4 class="my-3 text-light text-center font-weight-bold">{{ user }}: Оценка {{ rating }}</h4>
    <h6 class="my-2 text-light text-center">{{ text | safe }}</h6>

    <div class="text-center mt-5 my-3">
        <a class="btn btn-primary mx-3" href="{{ url_for('aprove', review_id=review_id) }}">Одобрить</a>
        <a class="btn btn-danger mx-3" href="{{ url_for('reject', review_id=review_id) }}">Отклонить</a>
    </div>
</div>


{% endblock %}