{% extends 'base.html' %}

{% block content %}

{% if reviews %}
<div class="container mt-5">

{% for review in reviews %}
    <div class="mt-3 border ">
        <div class="MyReviews flex-grow-1">
            <h5 class="text-light  ms-2  mt-2">{{ review.get_user() }}: Оценка {{ review.rating }}</h5>
            <p><span>{{ review.text | safe }}</span></p>
            <h6 class="text-end me-2">
                {% if review.status == 1 %}
                    Рецензия на рассмотрении
                {% endif %}

                {% if review.status == 2 %}
                    Рецензия одобрена
                {% endif %}

                {% if review.status == 3 %}
                    Рецензия отклонена
                {% endif %}
            </h6>
        </div>
    </div>

{% endfor %}
</div>
{% endif %}

{% endblock %}